{% assign current = page.url | downcase | split: '/' %}

<aside class="sidenav" id="menu-content">
  <nav>
    <ul class="usa-sidenav-list">
      <li>
        <a {% if page.title == 'Introduction' %} class="usa-current"{% endif %} href='{{ site.baseurl }}/'>Introduction</a>
      </li>

      {% for draft in site.drafts %}
        {% if draft.is_section_index == "yes" %}
        <li>
          <a {% if page.title == draft.title %}class="usa-current"{% endif %} href="{{draft.permalink}}">{{ draft.title }}</a>
          {% if page.title == draft.title %}
            <ul class="usa-sidenav-sub_list">
  <!--          {% for section in page.sections %}
              <li><a href="#{{ section.id }}">{{section.text}}</a></li>
            {% endfor %}-->
            {% for section in page.sections %}
              <li><a href="{{ section.id }}">{{section.text}}</a></li>
            {% endfor %}
            </ul>
          {% endif %}
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</aside>
